package html

templ Page(){
  <!doctype html>
  <html>
    <head>
      <title>Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="w-full max-w-full overflow-x-hidden p-2">
      <div class="flex flex-wrap
            p-2 gap-2 resize 
            overflow-auto rounded bg-blue-500 
            max-w-full min-w-0
      ">
        @T()
        @E()
        @D()
        @I()
        @F()
        @E()
        @R()
        @O()
        @U()
        @S()
      </div>

      
    </body>
  </html>
}
// templ Letter(){
//   <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
// }

// letters
templ T(){
  <div class="border-solid border-2 flex-1 min-w-17 min-h-17 rounded bg-red-200 relative">
    <div class="absolute top-4 right-0 bottom-0 w-4 rounded-tl bg-black"></div>
    <div class="absolute top-4 left-0 bottom-0 w-4 rounded-tr bg-black"></div>
  </div>
}
templ E(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}
templ D(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}
templ I(){
  <div class="border-solid border-2 flex-1 min-w-17 min-h-17 rounded bg-red-200 relative">
    <div class="absolute top-4 bottom-4 right-0 top-0 w-4 rounded-bl rounded-tl bg-black"></div>
    <div class="absolute top-4 bottom-4 left-0 top-0 w-4 rounded-br rounded-tr bg-black"></div>
  </div>
}
templ F(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}
templ R(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}
templ O(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}
templ U(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}
templ S(){
  <div class="flex-1 min-w-17 min-h-17 rounded bg-red-200"></div>
}

