package html

templ Page(){
  <!doctype html>
  <html>
    <head>
      <title>Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="w-full max-w-full overflow-x-hidden p-2">
      <div class="flex flex-wrap
            p-2 resize 
            overflow-auto rounded border-solid border-2
            max-w-full min-w-0
      ">
        @T()
        @E()
        @D()
        @I()
        @F()
        @E()
        @R()
        @O()
        @U()
        @S()
      </div>

      
    </body>
  </html>
}
// templ Letter(){
//   <div class="flex-1 min-w-20 min-h-20 rounded "></div>
// }

// letters
templ T(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded  relative">
    <div class="absolute top-4 right-0 bottom-0 w-4 rounded-tl border-solid border-l-2 border-t-2"></div>
    <div class="absolute top-4 left-0 bottom-0 w-4 rounded-tr border-solid border-r-2 border-t-2"></div>
  </div>
}
templ E(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded  relative">
    <div class="absolute top-4  right-0 w-4 h-4  border-solid border-t-2 border-l-2 border-b-2 rounded-l"></div>
    <div class="absolute bottom-4 right-0 w-4 h-4  border-solid border-t-2 border-l-2 border-b-2 rounded-l"></div>
  </div>
}
templ D(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded-r-xl  relative">
    <div class="absolute rounded-r left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-4 w-4 border-solid border-2"></div>
  </div>
}
templ I(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded  relative">
    <div class="absolute top-4 bottom-4 right-0  w-4 rounded-l border-solid border-t-2 border-l-2 border-b-2"></div>
    <div class="absolute top-4 bottom-4 left-0  w-4 rounded-r border-solid border-t-2 border-r-2 border-b-2"></div>
  </div>
}
templ F(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded  relative">
    <div class="absolute top-4  right-0 w-4 h-4  border-solid border-t-2 border-l-2 border-b-2 rounded-l"></div>
    <div class="absolute top-12 bottom-0 right-0 w-4  border-solid border-t-2 border-l-2 rounded-tl"></div>
  </div>
}
templ R(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded-tr-xl  relative">
    <div class="absolute rounded-r top-4 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-4 w-4 border-solid border-2"></div>
    <div class="absolute top-8 right-0 h-0 w-4 border-solid border-2"></div>
    <div class="absolute rounded-tr top-12 bottom-0 left-1/2 -translate-x-1/2 w-4  border-solid  border-t-2 border-l-2 border-r-2"></div>
  </div>
}
templ O(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded-xl  relative">
    <div class="absolute rounded left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 h-4 w-4 border-solid border-2"></div>
  </div>
}
templ U(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded-b-xl  relative">
    <div class="absolute rounded-b left-1/2 -translate-x-1/2 top-0 h-4 w-4 border-solid border-l-2 border-r-2 border-b-2"></div>
  </div>
}
templ S(){
  <div class="border-solid border-2 flex-1 min-w-20 min-h-20 rounded-tl-xl rounded-br-xl  relative">
    <div class="absolute top-4  right-0 w-4 h-4  border-solid border-t-2 border-l-2 border-b-2 rounded-l"></div>
    <div class="absolute bottom-4 left-0 w-4 h-4  border-solid border-t-2 border-r-2 border-b-2 rounded-r"></div>
  </div>
}

